/* add your tweaks here! */

// #sidebar {
//     position: -webkit-sticky; /* For Safari */
//     position: sticky;
//     top: 0;
//     height: 100vh;
//     overflow-y: auto;
// }

/* Always show the navbar toggler button */
.navbar-toggler {
    display: block !important;
}

/* Hide the navbar content by default */
.navbar-collapse {
    display: none !important;
}

/* Show the navbar content when the toggler button is clicked */
.navbar-collapse.show {
    display: block !important;
}

/* Ensure the navbar content is hidden at larger sizes */
@media (min-width: 992px) {
    .navbar-collapse {
        display: none !important;
    }
}